<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Over the top</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/business-practice.css" data-inprogress="">
</head>

<body class="page__body business-practice">
    <header class="header">
        <div class="logo header__logo">
            <a href="index.html" class="logo__link">
      <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
      <span class="logo__name">Over the top</span>
    </a>
        </div>
        <div class="header__inner">
            <nav class="navigation header__navigation">
                <ul class="navigation__list header__navigation-list">
                    <li><a href="index.html">Over the top</a></li>
                    <li><a href="game-trainings.html">Игровые тренинги</a></li>
                    <li><a href="business-practice.html">Бизнес практики</a></li>
                    <li><a href="projects.html">Проекты</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <button class="menu-burger menu-burger--white header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
        </div>
    </header>


    <main class="page__main">

        <section class="header-top business-practice__header-top">
            <div class="header-top__inner">
                <h1 class="title title--inner title--white">Бизнес практики</h1>
                <p>Разработка обучающих программ, основанных на уникальном опыте вашей компании, ваших партнёров и заказчиков, ключевых персон в отрасли, позволяет получить необходимые знания и умения в безопасной среде бизнес-симуляции. </p>
            </div>
        </section>

        <!-- Секция подход компании -->
        <section class="company-approach">
            <div class="company-approach__inner">
                <div class="title-main company-approach__title-main">
                    <h2 class="title-main__title">подход компании</h2>
                </div>
                <ul class="company-approach__list">
                    <li class="company-approach__item">
                        <h3 class="title title--orange">оценка компетенций</h3>
                        <p class="company-approach__text">Создавая стимуляцию отдельных бизнес-процессов, мы делаем бизнес-практики, которые позволяют оценить не только текущий уровень необходимых компетенций и способностей ваших сотрудников, но и их личностных качеств.</p>
                    </li>
                    <li class="company-approach__item">
                        <h3 class="title title--orange">моделирование ситуаций</h3>
                        <p class="company-approach__text">Используя формат бизнес-практик, мы можем моделировать будущие ситуации для безопасного получения опыта и отработки практических навыков вашими сотрудниками. </p>
                    </li>
                    <li class="company-approach__item">
                        <h3 class="title title--orange">индивидуальный подход</h3>
                        <p class="company-approach__text">Бизнес-практика может быть разработана на основе ваших данных, для ваших спикеров-евангелистов с целью передачи опыта и обучения ваших дистрибьютов, партнёров, заказчиков.</p>
                    </li>
                </ul>
            </div>
        </section>


        <!-- Секция наши направления -->
        <section class="directions">
            <div class="directions__inner">
                <div class="title-main title-main--rotate directions__title-main">
                    <ul class="title-main__list directions__title-main-list">
                        <li class="title-main__item">наши направления</li>
                    </ul>
                    <h2 class="title-main__title directions__title-main-title">векторы деятельности</h2>
                </div>
                <div class="directions__wrapper">
                    <div class="info-content directions__info-content">
                        <h3 class="info-content__title directions__info-content-title">Направления бизнес практик</h3>
                        <ul class="info-content__list info-content__list--small directions__info-content-list">
                            <li class="info-content__item">Создание продукта или услуги</li>
                            <li class="info-content__item">Продвижение продукта </li>
                            <li class="info-content__item">Продажа (клиентский сервис, переговоры)</li>
                            <li class="info-content__item">Управление персоналом</li>
                            <li class="info-content__item">Информационная безопасность</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </main>


    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input id="password" type="password" name="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" name="confirm_password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big popup--hight modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <a href="personal-area.html" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </a>
                    </form>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>

            <ul class="social">
                <li>
                    <a href="#">
          <i class="icon-facebook-logo"></i>
          <span class="social__name">Facebook</span>
        </a>
                </li>
                <li>
                    <a href="#">
          <i class="icon-instagram-logo"></i>
          <span class="social__name">Instagram</span>
        </a>
                </li>
                <li>
                    <a href="#">
          <i class="icon-youtube"></i>
          <span class="social__name">Youtube</span>
        </a>
                </li>
            </ul>

            <ul class="company-info footer__company-info">
                <li class="company-info__item">
                    <a href="tel:+74955850658">+7 (495) 585 06 58</a>
                </li>
                <li class="company-info__item">
                    <a href="tel:+79096355656">+7 (909) 635 56 56</a>
                </li>
                <li class="company-info__item">
                    <a href="mailto:info@overthetop.ru">info@overthetop.ru </a>
                </li>
            </ul>
        </div>
        <p class="copyright">© 2004—2019 OVER THE TOP</p>
    </footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/business-practice.min.js"></script>

</body>

</html>