<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Over the top</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/projects.css" data-inprogress="">
</head>

<body class="page__body">
    <header class="header">
        <div class="logo header__logo">
            <a href="index.html" class="logo__link">
      <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
      <span class="logo__name">Over the top</span>
    </a>
        </div>
        <div class="header__inner">
            <nav class="navigation header__navigation">
                <ul class="navigation__list header__navigation-list">
                    <li><a href="index.html">Over the top</a></li>
                    <li><a href="game-trainings.html">Игровые тренинги</a></li>
                    <li><a href="business-practice.html">Бизнес практики</a></li>
                    <li><a href="projects.html">Проекты</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <button class="menu-burger menu-burger--white header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
        </div>
    </header>


    <main class="page__main">

        <div class="page__header-projects">
            <div class="page__title">
                <h1 class="title title--inner title--white">Проекты</h1>
            </div>
        </div>

        <!-- Секция Проекты -->
        <section class="gallery">
            <div class="gallery__inner">
                <h2 class="title title--small title--white">Фото галерея</h2>
                <ul class="gallery__list">
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery1.png">
            <img src="../img/gallery1.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery2.png">
            <img src="../img/gallery2.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery3.png">
            <img src="../img/gallery3.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery4.png">
            <img src="../img/gallery4.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery5.png">
            <img src="../img/gallery5.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery6.png">
            <img src="../img/gallery6.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery4.png">
            <img src="../img/gallery4.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery5.png">
            <img src="../img/gallery5.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery6.png">
            <img src="../img/gallery6.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery4.png">
            <img src="../img/gallery4.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery5.png">
            <img src="../img/gallery5.png" alt="Фотография из галереи">
          </a>
                    </li>
                    <li class="gallery__item">
                        <a data-fancybox="gallery" href="../img/gallery6.png">
            <img src="../img/gallery6.png" alt="Фотография из галереи">
          </a>
                    </li>
                </ul>
                <a id="loadMore" href="#" class="button button--bgc button--big-size gallery__button">больше фото</a>
            </div>
        </section>

        <!-- Секция отзывы -->
        <section class="reviews">
            <div class="reviews__inner">
                <h2 class="title title--orange">отзывы</h2>
                <ul class="reviews__carousel">
                    <li class="reviews__item">
                        <img src="../img/projects/reviews1.jpg" alt="Фотография отзыва">
                        <p>AT Consulting</p>
                    </li>
                    <li class="reviews__item">
                        <img src="../img/projects/reviews2.jpg" alt="Фотография отзыва">
                        <p>KPMG</p>
                    </li>
                    <li class="reviews__item">
                        <img src="../img/projects/reviews3.jpg" alt="Фотография отзыва">
                        <p>Volvo</p>
                    </li>
                    <li class="reviews__item">
                        <img src="../img/projects/reviews4.jpg" alt="Фотография отзыва">
                        <p>ABBYY</p>
                    </li>
                    <li class="reviews__item">
                        <img src="../img/projects/reviews1.jpg" alt="Фотография отзыва">
                        <p>AT Consulting</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Секция клиенты -->
        <section class="customers">
            <div class="customers__inner">
                <h2 class="title title--orange">клиенты</h2>
                <ul class="customers__carousel">
                    <li class="customers__item">
                        <img src="../img/projects/customers7.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers8.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers9.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers10.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers11.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers12.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers1.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers2.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers3.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers4.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers5.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers6.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers13.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers14.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers15.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers16.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers17.png" alt="Логотип клиента">
                    </li>
                    <li class="customers__item">
                        <img src="../img/projects/customers18.png" alt="Логотип клиента">
                    </li>
                </ul>
                <div class="customers__wrapper-controls">
                    <button type="button" class="button-arrow customers__arrow customers__arrow--left"><i class="icon-arrow"></i></button>
                    <p class="step-count"></p>
                    <button type="button" class="button-arrow customers__arrow customers__arrow--right"><i class="icon-arrow"></i></button>
                </div>
                <a id="loadMoreCustomers" href="#" class="button button--bgc button--big-size customers__button">показать еще</a>
            </div>
        </section>


    </main>


    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input id="password" type="password" name="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" name="confirm_password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big popup--hight modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <a href="personal-area.html" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </a>
                    </form>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>

            <ul class="social">
                <li>
                    <a href="#">
          <i class="icon-facebook-logo"></i>
          <span class="social__name">Facebook</span>
        </a>
                </li>
                <li>
                    <a href="#">
          <i class="icon-instagram-logo"></i>
          <span class="social__name">Instagram</span>
        </a>
                </li>
                <li>
                    <a href="#">
          <i class="icon-youtube"></i>
          <span class="social__name">Youtube</span>
        </a>
                </li>
            </ul>

            <ul class="company-info footer__company-info">
                <li class="company-info__item">
                    <a href="tel:+74955850658">+7 (495) 585 06 58</a>
                </li>
                <li class="company-info__item">
                    <a href="tel:+79096355656">+7 (909) 635 56 56</a>
                </li>
                <li class="company-info__item">
                    <a href="mailto:info@overthetop.ru">info@overthetop.ru </a>
                </li>
            </ul>
        </div>
        <p class="copyright">© 2004—2019 OVER THE TOP</p>
    </footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/projects.min.js"></script>

</body>

</html>