<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__title">Навигация по сайту</h2>

    <ul class="social">
      <li>
        <a href="#">
          <i class="icon-facebook-logo"></i>
          <span class="social__name">Facebook</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-instagram-logo"></i>
          <span class="social__name">Instagram</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-youtube"></i>
          <span class="social__name">Youtube</span>
        </a>
      </li>
    </ul>

    <ul class="company-info footer__company-info">
      <li class="company-info__item">
        <a href="tel:+74955850658">+7 (495) 585 06 58</a>
      </li>
      <li class="company-info__item">
        <a href="tel:+79096355656">+7 (909) 635 56 56</a>
      </li>
      <li class="company-info__item">
        <a href="mailto:info@overthetop.ru">info@overthetop.ru </a>
      </li>
    </ul>
  </div>
  <p class="copyright">© 2004—2019 OVER THE TOP</p>
</footer>