<header class="header">
  <div class="logo header__logo">
    <a href="index.html" class="logo__link">
      <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
      <span class="logo__name">Over the top</span>
    </a>
  </div>
  <div class="header__inner">
    <nav class="navigation header__navigation">
      <ul class="navigation__list header__navigation-list">
        <li><a href="index.html">Over the top</a></li>
        <li><a href="game-trainings.html">Игровые тренинги</a></li>
        <li><a href="business-practice.html">Бизнес практики</a></li>
        <li><a href="projects.html">Проекты</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <button class="menu-burger menu-burger--white header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
  </div>
</header>
